<h1>Welcome</h1>
<p>hi, stranger. Comes and seats</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate earum eos explicabo ipsam maxime minus molestias non odit, praesentium quam sapiente similique sint sit unde ut veniam veritatis, vero!</p>

{{#if user}}

{{else}}
    <a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>Login with google</a>
{{/if}}